# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/ImplantC2/v17/ipch/AutoPCH/7ebef6774c8e39f3/MAIN.ipch
/.vs/ImplantC2/FileContentIndex
/Project1/.vs/Project1/FileContentIndex
/Project1/.vs/Project1/v17
